dist/web/_includes/usd/03-banks.html

<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco BBVA Continental</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO DOLARES.</li>
    <li>Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>
<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco BCP</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO DOLARES.</li>
    <li>Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>
<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco Interbank</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.</li>
    <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>
<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco Scotiabank</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO DOLARES.</li>
    <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>
<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco BanBif</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.</li>
    <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>

src/web/_includes/usd/03-banks.pug
.generic_content_items
  ul.generic_content_item.is_left
    li Banco BBVA Continental
  ol.generic_content_item.is_right
    li
      | Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO DOLARES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco BCP
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO DOLARES.
    li
      | Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco Interbank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco Scotiabank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO DOLARES.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.

.generic_content_items
  ul.generic_content_item.is_left
    li Banco BanBif
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.
