src/web/_includes/default/buying-date.pug
section.box_center.generic_channels.generic_wrapp.generic_wrapp_bottom
  h2.generic_title_secundary DATOS DE COMPRA
  .box_center.is_inner
    .generic_footer
      h5.generic_content_paychannel
        | Detalle de compra:
      ul.generic_content_list
        li Servicio: [ServicioNombre]
        li Concepto: Compra en [ConceptoPago]
        li N&deg; de Pedido: [NroPedido]
        li Monto a Pagar: [Moneda] [Monto]

dist/web/_includes/default/buying-date.html

<section class="box_center generic_channels generic_wrapp generic_wrapp_bottom">
  <h2 class="generic_title_secundary">DATOS DE COMPRA</h2>
  <div class="box_center is_inner">
    <div class="generic_footer">
      <h5 class="generic_content_paychannel">Detalle de compra:</h5>
      <ul class="generic_content_list">
        <li>Servicio: [ServicioNombre]</li>
        <li>Concepto: Compra en [ConceptoPago]</li>
        <li>N&deg; de Pedido: [NroPedido]</li>
        <li>Monto a Pagar: [Moneda] [Monto]</li>
      </ul>
    </div>
  </div>
</section>
