dist/web/_includes/pen/02-pay-channels.html

<section class="generic_buying-date">
  <div class="box_center generic_wrapp">
    <div class="generic_title_secundary">CANALES DE PAGO</div>
    <div class="generic_subtitle_secundary">Banca por internet y Banca M&oacute;vil</div>
    <div class="generic_content">
      <div class="generic_content_items">
        <ul class="generic_content_item is_left">
          <li>Banco BBVA Continental</li>
        </ul>
        <ol class="generic_content_item is_right">
          <li>Seleccione la opci&oacute;n Pago de Servicios > De Instituciones y Empresas > Busca por nombre PAGOEFECTIVO > PAGOEFECTIVO SOLES.</li>
          <li>Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
        </ol>
      </div>
      <div class="generic_content_items">
        <ul class="generic_content_item is_left">
          <li>Banco BCP</li>
        </ul>
        <ol class="generic_content_item is_right">
          <li>Selecciona la opci&oacute;n Pago de servicios > Empresas > PAGOEFECTIVO > PAGOEFECTIVO SOLES.</li>
          <li>Ingrese tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
        </ol>
      </div>
      <div class="generic_content_items">
        <ul class="generic_content_item is_left">
          <li>Banco Interbank</li>
        </ul>
        <ol class="generic_content_item is_right">
          <li>Selecciona la opci&oacute;n de Pago a Instituciones o Empresa > Empresa: PAGOEFECTIVO > Servicio: PAGOEFECTIVO.</li>
          <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
        </ol>
      </div>
      <div class="generic_content_items">
        <ul class="generic_content_item is_left">
          <li>Banco Scotiabank</li>
        </ul>
        <ol class="generic_content_item is_right">
          <li>Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.</li>
          <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
        </ol>
      </div>
      <div class="generic_content_items">
        <ul class="generic_content_item is_left">
          <li>Banco BanBif</li>
        </ul>
        <ol class="generic_content_item is_right">
          <li>Selecciona la opci&oacute;n Pago de servicios > Busca por Empresa y escribe PAGOEFECTIVO > Selecciona la empresa PAGOEFECTIVO.</li>
          <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="box_center generic_wrapp">
    <div class="generic_content_rows">
      <div class="generic_content_row">
        <h4 class="generic_subtitle_secundary">Agentes y Bodegas</h4>
        <ul class="generic_list is_jump">
          <li class="generic_list_item is_jump_size"><strong>Express BBVA Continental</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Agente BCP (*)</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Agente Interbank (**)</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Agente Scotiabank</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Agente Kasnet</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Western Union</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Full Carga (***)</strong></li>
        </ul>
        <ol class="generic_list">
          <li>Indica que vas realizar un pago a la empresa PAGOEFECTIVO.</li>
          <li>Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.</li>
        </ol>
        <ul class="generic_list is_legal">
          <li>(*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.</li>
          <li>(**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.</li>
          <li>(***) Encuentra a FullCarga en Bodegas, Farmacias, Cabinas de Internet y Locutorios.</li>
        </ul>
      </div>
      <div class="generic_content_row">
        <h4 class="generic_subtitle_secundary">Agencias</h4>
        <ul class="generic_list is_jump is_small">
          <li class="generic_list_item is_jump_size"><strong>Banco BBVA Continental</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Banco BCP (*)</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Banco Interbank (**)</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Banco Scotiabank</strong></li>
          <li class="generic_list_item is_jump_size"><strong>Banco BanBif</strong></li>
        </ul>
        <ol class="generic_list">
          <li>Indica que vas realizar un pago a la empresa PAGOEFECTIVO.</li>
          <li>Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.</li>
        </ol>
        <ul class="generic_list is_legal">
          <li>(*) Agencias BCP: Costo adicional S/ 1.00.</li>
          <li>(**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

src/web/_includes/pen/02-pay-channels.pug
section.generic_buying-date
  .box_center.generic_wrapp
    .generic_title_secundary CANALES DE PAGO
    .generic_subtitle_secundary Banca por internet y Banca M&oacute;vil
    .generic_content
      include ../banks/section-bbvacontinental.pug
      include ../banks/section-bcp.pug
      include ../banks/section-interbank.pug
      include ../banks/section-scotiabank.pug
      include ../banks/section-banbif.pug
  .box_center.generic_wrapp
    .generic_content_rows
      .generic_content_row
        h4.generic_subtitle_secundary Agentes y Bodegas
        
        ul.generic_list.is_jump
          li.generic_list_item.is_jump_size
            strong Express BBVA Continental
          li.generic_list_item.is_jump_size
            strong Agente BCP (*)
          li.generic_list_item.is_jump_size
            strong Agente Interbank (**)
          li.generic_list_item.is_jump_size
            strong Agente Scotiabank
          li.generic_list_item.is_jump_size
            strong Agente Kasnet
          li.generic_list_item.is_jump_size
            strong Western Union
          li.generic_list_item.is_jump_size
            strong Full Carga (***)
        ol.generic_list
          li Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
          li Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
        ul.generic_list.is_legal
          li (*) Agentes BCP: Brinda el c&oacute;digo de empresa 02186.
          li (**) Agentes Interbank: Brinda el siguiente c&oacute;digo 2735001.
          li (***) Encuentra a FullCarga en Bodegas, Farmacias, Cabinas de Internet y Locutorios.

      .generic_content_row
        h4.generic_subtitle_secundary Agencias

        ul.generic_list.is_jump.is_small
          li.generic_list_item.is_jump_size
            strong Banco BBVA Continental
          li.generic_list_item.is_jump_size
            strong Banco BCP (*)
          li.generic_list_item.is_jump_size
            strong Banco Interbank (**)
          li.generic_list_item.is_jump_size
            strong Banco Scotiabank
          li.generic_list_item.is_jump_size
            strong Banco BanBif
        ol.generic_list
          li Indica que vas realizar un pago a la empresa PAGOEFECTIVO.
          li Indica el C&oacute;digo CIP: [CIP] y el importe a pagar en Soles.
        ul.generic_list.is_legal
          li (*) Agencias BCP: Costo adicional S/ 1.00.
          li (**) Agencias Money Market de Interbank: Costo adicional S/ 2.00.
