src/web/_includes/banks/section-scotiabank.pug
.generic_content_items
  ul.generic_content_item.is_left
    li Banco Scotiabank
  ol.generic_content_item.is_right
    li
      | Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.
    li
      | Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.

dist/web/_includes/banks/section-scotiabank.html

<div class="generic_content_items">
  <ul class="generic_content_item is_left">
    <li>Banco Scotiabank</li>
  </ul>
  <ol class="generic_content_item is_right">
    <li>Selecciona la opci&oacute;n Pagos > Otras Instituciones > Otros > Busca por Empresa/Servicio: PAGOEFECTIVO > Selecciona: PAGOEFECTIVO SOLES.</li>
    <li>Ingresa tu c&oacute;digo CIP: [CIP] y sigue los pasos.</li>
  </ol>
</div>
